body {
    display: flex;
    flex-wrap: wrap;
}

.divisor {
    width: 100%;
    padding: 0.01%;
    background-color: black;
}

.titulo {
    font-size: 2em;
}

.container {
    padding: 1% 0%;
   width: 100%;
   display:flex;
}

/* ejercicio1 */

/* cuadro1 */

.cuadro1 {
    background-color: aqua;
    width: 250px;
    padding: 2%;
}

.cuadro2 {
    background-color: cornflowerblue;
    padding: 2%;
    flex-grow: 2;
}

.cuadro3 {
    background-color: darkcyan;
    width: 250px;
    padding: 1%;
}

/* cuadro2 */

.cuadro4 {
    background-color: blanchedalmond;
    padding: 2%;
    width: 200px;
}

.cuadro5 {
    background-color: brown;
    padding: 2%;
    flex-grow: 1;
}

.cuadro6 {
    background-color: coral;
    padding: 2%;
    flex-grow: 1;
}

.cuadro7 {
    background-color: darkgray;
    padding: 2%;
    width: 200px;
}

/* cuadro3 */

.cuadro8 {
    background-color: darksalmon;
    padding: 2%;
    flex-grow: 1;
}

.cuadro9 {
    background-color: darkmagenta;
    padding: 2%;
    flex-grow: 1;
}

.cuadro10 {
    background-color:gold;
    padding: 2%;
    flex-grow: 1;
}

/* cuadro4 */

.cuadro11 {
    background-color: darkseagreen;
    padding: 2%;
    flex-grow: 2;
}

.cuadro12 {
    background-color: burlywood;
    padding: 2%;
    flex-grow: 1;
}

.cuadro13 {
    background-color: navy;
    padding: 2%;
    flex-grow: 1;
}

/* cuadro5 */

.cuadro14 {
    background-color: green;
    padding: 2%;
    flex-grow: 0.5;
}

.cuadro15 {
    background-color: hotpink;
    padding: 2%;
    flex-grow: 0.5;
}

.cuadro16 {
    background-color: lightcoral;
    padding: 2%;
    flex-grow: 1.5;
}

/* ejercicio2 */

/* cuadro6 */

.cuadro17 {
    background-color: goldenrod;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro18 {
    background-color: blue;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro19 {
    background-color: seagreen;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro20{
    background-color: darkorange;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro21 {
    background-color: greenyellow;
    padding: 2%;
    flex-basis: auto;
}

/* cuadro7 */

.cuadro22 {
    background-color: violet;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro23 {
    background-color: indianred;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro24 {
    background-color: peru;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro25 {
    background-color: orangered;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro26 {
    background-color: mediumvioletred;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro27 {
    background-color: burlywood;
    padding: 2%;
    flex-basis: auto;
}

/* cuadro8 */

.cuadro28 {
    background-color: rebeccapurple;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro29 {
    background-color: goldenrod;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro30 {
    background-color: darkolivegreen;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro31 {
    background-color: firebrick;
    padding: 2%;
    flex-basis: 25%;
}

.cuadro32 {
    background-color: indigo;
    padding: 2%;
    flex-basis: 100%;
}

.cuadro33 {
    background-color: blue;
    padding: 2%;
    flex-basis: 100%;
}