body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 1500px;
    height: 700px;
    padding: 1%;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex-grow: 100%;
}

.poster {
    padding: 1%;
    width: 40%;
    border: 2px solid black;
}

.imagen {
    width: 450px;
    height: 100%;
}

.texto {
    padding: 1%;
    flex-grow: 1;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.titulo {
    font-size: 50px;
    width: 40%;
    flex-grow: 10%;
}

.descripcion {
    font-size: 30px;
    width: 100%;
    flex-grow: 80%;
}

.pie {
    font-size: 30px;
    width: 100%;
    flex-grow: 10%;
}